# Virtual Environment
imsEnv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/

# Logs
*.log

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# SQLite database (agar use kar rahe hain)
*.sqlite3
*.db